@use 'layout';

/* Header includes account owner avatar and name */
main {
  header.profile {
    height: 400px;
    width: 100%;
    background-color: layout.$primary-color-mobile;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      h2 {
        color: white;
      }
    }
  }
}

/* Resizing for Desktop */
@media only screen and (min-width: 1024px) {
  main {
    header.profile {  
      border-radius: 20px;
      background-color: layout.$primary-color-desktop;
    }
  }
}
